.headerActar{
    display: flex;
    justify-content:space-between;
    align-items: center; 
    
}

.headerchile1{
    padding-bottom: 0 ;
    color: white;
}

.myavtar{
    /* filter: drop-shadow(5px 5px 10px lightgrey); */
    width: 20vw;
    background-image: url('./images/splash.png');
    background-size: cover;
}

.abouttext{
    font-size: 2em;
    color: white;
}


@media (max-width: 768px){
    .headerActar{
        flex-direction: column;
        column-gap: 30px;
    }
    .abouttext{
        font-size: 1em;
        
    }

    .headerchile1{
        height: 120px;
    }

    .myavtar{
        /* filter: drop-shadow(5px 5px 10px lightgrey); */
        width: 40vw;
    }
}